
<article>
            <form
            class="form"
            action="#"
            name="form_moneda"
            id="form_moneda"                    
            >
            
       

                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="moneda">Moneda:</label> 
                    </div>

                    <div class="bl-5">
                        <input                                                 
                            type="text"
                            name="moneda"
                            id="moneda_moneda"
                            class="num" 
                            />
                    </div>
                </div>    
            </div>                    
                



            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="nombre">Nombre:</label> 
                    </div>

                    <div class="bl-12">
                        <input                                                 
                            type="text"
                            name="nombre"
                            id="moneda_nombre"
                            />
                    </div>
                </div>    
            </div>
                




        </form>

</article>

<article id="moneda-acciones">
    <pre></pre>
</article>
                


<article id="moneda-tabuladores">
    <pre></pre>
</article>
                
