



<article>
            <form
            class="form"
            action="#"
            name="form_facturaventa"
            id="form_facturaventa"                    
            >
            

                
        <input                                                 
            type="hidden"
            name="boleta"
            id="facturaventa_boleta"
            class="num" 
            data-pertenece ="FacturaVenta"            
            data-foreign ="Boleta"
            />


                
        <input                                                 
            type="hidden"
            name="factura"
            id="facturaventa_factura"
            class="num" 
            data-pertenece ="FacturaVenta"            
            />


        
        

            <div class="f-line">
                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="factura_numero">Numero:</label> 
                    </div>

                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="factura_numero"
                            id="facturaventa_factura_numero"
                            />
                    </div>
                </div>        
                
                                
                
                <div class="f-campo">                    
                    <div class="f-campo bl-8">
                    </div>   
                </div>   
                    
                
            </div>                    

        
            <div class="f-line">
                
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="fecha_factura">Fecha:</label> 
                    </div>
                    

                    <div class="bl-8">
                        <input                                                 
                            type="date"
                            name="fecha_factura"
                            id="facturaventa_fecha_factura"
                            />
                    </div>
                </div>        
                
                                
                
                <div class="f-campo">                    
                    <div class="f-campo bl-8">
                    </div>   
                </div>   
                                
                
                <div class="f-campo">                    
                    <div class="bl-8">
                        <label for="fecha_factura">Condicion venta:</label> 
                    </div>

                    <div class="bl-8">                        
                            <select name="forma_pago" id="facturaventa_forma_pago" >           
                            </select>   
                    </div>
                </div>                                                
                    
                
            </div>                    





                

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cliente_idenficacador">Ruc:</label> 
                    </div>

                    
                    
                
                        <input                                                 
                            type="hidden"
                            name="cliente"
                            id="facturaventa_cliente_cliente"
                            class="num" 
                            data-pertenece ="FacturaVenta"        
                            value="0"
                            data-foreign ="Cliente"
                            />
                    
                        
                        
                        
                        
                    <div class="bl-8">
                        <input                                                 
                            type="text"
                            name="cliente_idenficacador"
                            id="facturaventa_cliente_idenficacador"
                            />
                    </div>
                                        
                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span 
                                class="icon-more-horizontal" 
                                id="ico-more-cliente"
                                data-ind="0"
                                >                                    
                            </span>
                        </div>                        
                    </div>                    

                    
                    <div class="bl-2">                        
                        <div class="icono"> 
                            <span 
                                class="icon-plus" 
                                id="ico-plus-cliente"
                                data-ind="0"
                                >
                            </span>
                        </div>                        
                    </div>   
                    
                    
                </div>    
            </div>                    


        

            <div class="f-line">
                <div class="f-campo">

                    <div class="bl-8">
                        <label for="cliente">Razon social:</label> 
                    </div>

                    <div class="bl-22">
                        <input                                                 
                            type="text"
                            name="cliente_descrip"
                            id="facturaventa_cliente_descrip"      
                            disabled="disabled"
                            />
                    </div>
                    

                    
                    
                </div>    
            </div>                    


                
                          

        </form>

</article>



<article id="facturaventa-detalles">
    <pre></pre>
</article>

<article id="facturaventa-acciones">
    <pre></pre>
</article>
                


<article id="facturaventa-tabuladores">
    <pre></pre>
</article>
                
