



<hr class="e20"/>



<article id="proceso_iniciar_articulo"> 
    <div class="botones"> 
        <div class="boton">     
            <a 
                id="btn_iniciar_apertura" 
                data-id="0" 
                class="botonA" 
                href="javascript:void(0);">     
                Iniciar apertura    
            </a>   
        </div>
    </div>
</article>