



<article>

        <table class="tableB" id="listaprecioproducto-tabla">
          <thead>
            <tr>
                <th>id</th>
                <th class="ca-10">categoria</th>
                <th>descripcion</th>
                <th class="ca-10">monto</th>
                
            </tr>
          </thead>
          
          
          
          
          
          
          

          <tbody id="listaprecioproducto-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>


        <hr class="e20"/>

        <div id="div_paginacion" class="pagination" >                            
        </div>

        
        <hr class="e20"/>
        


</article>



<article id="acciones-lista">
    <pre>ess</pre>
</article>