



form.form {
        font-size: 0.98rem;
    
}



form.form {
    display: flex;
    flex-direction: column;    
    margin-bottom: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
}


/*
form label {
    width: 5rem;
    background: #3e3f44;
}
*/

form label {
    /*font-size: 0.5rem;;*/


}


/*
form input:focus,
from select:focus
{
    border-bottom-color: #FF8058 ;
    border-top-color: #FF8058 ;
}
*/



form input, 
form select
{
    width: 100%;
    
    border: none;    
    border-bottom: 1px solid ;
    outline:0rem;
        
    height: 22px;
    padding-top: 0px;    
    
    padding-right: 0px;
    padding-left: 0px;    
    
}

form select
{
    height: 24px;
    background-color: white;    
}




form textarea
{
    margin: 0px;
    width: 100%;
    height: 50px;
    
    border: none;    
    border: 1px solid ;
    outline:0rem;

    padding-top: 0px;    
    
    padding-right: 0px;
    padding-left: 0px;    
    
}


form input:focus, 
form select:focus
{      
    /*border-bottom: 0.1rem solid ;    */
    border-bottom: 1px solid ;       
}


form select:disabled {
  opacity: 1;
  -webkit-appearance: none;
}


form select option{
    font-size: medium;
}


form output
{
    border: none;    
    outline:0rem; 
    /*font-size: 14px;*/
    padding-left: 5px;
      
}



form .out
{
   /* background-color: gainsboro;*/
    height: 24px;
       
    display: flex;
    align-items: center;       
       
}


form .num{        
    text-align:right;
}


form .icono {
    height: 21px;
    width: 40px;
    display: flex;
     align-items: center;   
     justify-content: center;
    font-size: 30px;
}


form .icono span {
  font-size: 2rem;
}




form fieldset{        
    border-width: 1px;
    border-style: solid;
    font-size: medium;
    
    padding-top: 0px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 20px;
    border-right-width: 1px;
    
    margin-bottom: 20px;
    
}




.optionradio{
    
    display: flex;
    flex-direction: row;
}


.optionradio div{

    width: 150px;
    display: flex;
    height: 30px;
    align-items: center;
    
}


.optionradio div input  {

    margin-right: 5px;
    margin-left: 0px;
    width: 30px;

}




.optionradio div input[type="radio"]  {    
    width: 30px;
    border-radius: 100%;  
}


 input[type='number']{  
    text-align: center;
}




input[type='radio']:disabled {  
    opacity: 1;
}

 input[type="radio"][disabled] + label 
 {
     color: #3f3f3f;
 } 
 
